[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,audio/*,video/*,image/*,text/plain,inode/directory,inode/directory-locked,application/x-wine-extension-ini,application/x-wine-extension-inf,application/x-ms-dos-executable,application/x-msdownload,application/x-wine-extension-msp
Actions=add_to_rar;add_to_archive
# X-KDE-Submenu=Compress
X-KDE-Priority=TopLevel

[Desktop Action add_to_rar]
Name=Add to ".rar"
Icon=/snap/winrar/current/usr/share/pixmaps/winrar.png
Exec=winrar.wqc %F

[Desktop Action add_to_archive]
Name=Add to archive...
Icon=/snap/winrar/current/usr/share/pixmaps/winrar.png
Exec=winrar.wcf %F
