[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-tar,application/x-compressed-tar,application/x-bzip-compressed-tar,application/x-tarz,application/x-xz-compressed-tar,application/x-lzma-compressed-tar,application/x-lzip-compressed-tar,application/x-tzo,application/x-lrzip-compressed-tar,application/x-lz4-compressed-tar,application/x-zstd-compressed-tar,application/vnd.debian.binary-package,application/x-deb,application/x-rpm,application/x-source-rpm,application/vnd.ms-cab-compressed,application/x-xar,application/x-iso9660-appimage,application/x-archive,application/vnd.rar,application/x-rar,application/x-7z-compressed,application/zip,application/x-java-archive,application/x-compress,application/gzip,application/x-bzip,application/x-lzma,application/x-xz
Actions=extract_here;extract_sub;extract_files
# X-KDE-Submenu=Extract
X-KDE-Priority=TopLevel

[Desktop Action extract_here]
Name=Extract Here
Icon=/snap/winrar/current/usr/share/pixmaps/winrar.png
Exec=winrar.weh %F

[Desktop Action extract_sub]
Name=Extract to Subfolders
Icon=/snap/winrar/current/usr/share/pixmaps/winrar.png
Exec=winrar.wefs %F

[Desktop Action extract_files]
Name=Extract Files...
Icon=/snap/winrar/current/usr/share/pixmaps/winrar.png
Exec=winrar.wef %F
